In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.utils import shuffle

In [ ]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [ ]:
df=pd.read_csv("/content/drive/MyDrive/data science/datasets/student-mat.csv",sep=";")
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [ ]:
data=df[["G1","G2","G3","studytime","failures","absences"]]
predict="G3"
X=np.array(data.drop([predict],1))
y=np.array(data[predict])

<ipython-input-7-dad6650cf476>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X=np.array(data.drop([predict],1))

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.1)

In [ ]:
linear=linear_model.LinearRegression()
linear.fit(x_train,y_train)
accuracy=linear.score(x_train,y_train)
accuracy

0.83581640179497

In [ ]:
prediction=linear.predict(x_test)
for i in range(len(prediction)):
  print(prediction[i],y_test[i])

14.736666188482792 15
8.110016558572811 9
11.421275747744177 12
12.712371919681098 13
7.159385857964596 10
7.889043388052908 8
7.511622862289606 6
12.244437232009904 12
14.653254133427302 15
9.666091283957657 9
10.854901760990384 10
16.34116240410856 15
7.0409832380945385 0
9.452505076035811 10
5.139476159561154 4
19.499281727426307 20
5.238751820751496 0
14.896103335995713 15
14.558342801190877 13
12.697882850230641 13
5.751281844286348 7
7.207522492459866 0
8.478370487863682 10
10.04759128292923 10
14.5236181551376 15
4.28511872794348 5
14.164817950391996 13
7.878633791810721 11
18.449122046796745 18
9.184757207774755 9
7.859780393406346 8
15.250253051581778 15
4.912775418873246 0
13.49943356897916 15
13.909107533888532 14
12.742173088904316 12
7.80563133299742 8
9.141017743608018 12
5.921900571859944 0
11.219461072818632 12